requests
fastapi==0.115.*
uvicorn[standard]==0.30.*
pydantic==2.*
slowapi==0.1.9
httpx==0.27.*
python-dotenv==1.0.*
pyyaml==6.*
pandas
sqlalchemy==2.*
psycopg2-binary
asyncpg
alembic==1.13.*
redis==5.*

# Dependencies needed by gateway app
lark-parser
Flask